/* Centraliza o conteúdo da página */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 86vh;
  }
  
  /* Estiliza o card que contém os inputs e os resultados */
  .card {
    background-color: rgb(1, 0, 34);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 2%;
  }
  

  #id-label{
    color: white;
  }
  
  /* Estiliza os campos de input */
  input[type="number"] {
    width: 10%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    color: #000000;
    font-size: 20px;
  }

  input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p{
  color: white;
  font-size: 20px;
  font-family: Poppins;
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px;
  background-color: #706d80;
}

.mensagem-status{
  font-size: 15px;
  font-family: Poppins;
  border-radius: 5px;
}
  
  /* Estiliza os botões */
  button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(46, 45, 71);
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(38, 37, 58);
    transition: 0.2s;
  }
  
  /* Estiliza as mensagens */
  .message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .message.ok {
    background-color: green;
  }
  
  .message.error {
    background-color: red;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  form label {
    color: white;
    margin-top: 10px;
    font-size: 14px;
    font-family: Poppins;
  }
  
  form input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    background-color: #706d80;
    font-size: 20px;
    font-family: Poppins;
  }
   h3{
    color: white;
    font-family: Arial, sans-serif;
   }
  