<div id="textos-principal">
    <div class="left-items">
        <img id="img-onibus-principal" src="assets/images/onibus-principal.png" alt="">
    </div>

    <div class="right-items">
        <h1>Sobre:</h1>
            <p>Viação Progresso: Conectando Pessoas, Realizando Sonhos</p>

            <p>A Viação Progresso é muito mais do que uma simples empresa de ônibus. Desde a sua fundação, há mais de 50
                anos, ela tem sido uma parte essencial da vida e das histórias das pessoas. Com uma frota moderna e uma
                equipe dedicada, a Viação Progresso se destaca como uma das principais empresas de transporte rodoviário
                do país.
            </p>

            <p>O compromisso da Viação Progresso vai além de simplesmente levar os passageiros do ponto A ao ponto B.
                Nós nos dedicamos a proporcionar uma experiência de viagem segura, confortável e memorável para cada um
                de nossos clientes. Com rotas que abrangem todo o país, estamos sempre prontos para atender às
                necessidades de viagem de nossos passageiros, seja para trabalho, lazer ou visitas familiares.
            </p>

            <p>Nossa frota é constantemente renovada e mantida para garantir a segurança e o conforto de todos a bordo.
                Nossos motoristas são treinados para oferecer um serviço cortês e profissional, garantindo que cada
                viagem seja uma experiência agradável. Além disso, na Viação Progresso, a sustentabilidade é uma
                prioridade. Estamos comprometidos em reduzir nosso impacto ambiental, implementando práticas e
                tecnologias sustentáveis em nossa operação diária.
            </p>

            <p>Na Viação Progresso, acreditamos que cada viagem é uma oportunidade para realizar sonhos, criar memórias
                e conectar pessoas. Junte-se a nós em nossa jornada para um futuro mais sustentável e conectado. Viaje
                com a Viação Progresso e descubra o verdadeiro significado de uma viagem inesquecível.
            </p>
    </div>
</div>